/* globals.css */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif; /* Use a clean font */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4; /* Light background for contrast */
  color: #333; /* Dark text for readability */
}

button {
  border-radius: 4px; /* Rounded buttons */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
